extends ../layout

block content

    body(data-userid="" + userId)

        #notification

        button(onclick="requestForHelp()") Request for Help


    script(src='/js/uber.js')

    script.

        requestDetails = {
            citizenId: userId,
            location: {
                address: "Indiranagar, Bengaluru, Karnataka 560038, India",
                latitude: 12.9718915,
                longitude: 77.64115449999997
            }
        }

        socket.on('request-accepted', function (data) {
            copDetails = data; //Save cop details
            //Display Cop details
            document.getElementById("notification").innerHTML = "A cop is coming to your rescue! \n" + JSON.stringify(copDetails);

        });


